@import 'fonts';

$main_h1_font: 'loraBold', sans-serif;
$h_font: 'latoBold', sans-serif;
$main_font: 'latoRegular', sans-serif;
$comment_font: 'latoItalic', sans-serif;


$header_color: #f6c695;
$header_text_color: #fffffd;
$hover_btn_color: #f17b00;
$btn_color: #f2a742;
$first_section_color: #fbfcff;
$other_section_color: #ffffff;
$comments_color: #6caaff;
$main_footer_color: #274f46;
$footer_color: #2e5c52;
$footer_text_color: #7da79d;
$section_h1: #409b7a;
$shade_color: #9296af;
$green_mark_color: #4cb690;
